<div class="wrapper">
	<nav id="sidebar">
           <ul class="list-unstyled components">
               <li class="active">
                   <a class="text-white dropdown-toggle" href="#productSubmenu" data-toggle="collapse" aria-expanded="false">상품관리</a>
                   <ul class="collapse list-unstyled" id="productSubmenu">
                       <li>
                           <a class="text-white" th:href="@{/admin/product/registration}">상품등록</a>
                       </li>
                       <li>
                           <a class="text-white" th:href="@{/admin/product/list}">상품목록</a>
                       </li>
                       <li>
                           <a class="text-white" th:href="@{/admin/product/category}">상품분류</a>
                       </li>
                       <li>
                           <a class="text-white" th:href="@{/admin/product/display}">상품진열</a>
                       </li>
                   </ul>
               </li>
               <li class="active">
                   <a class="text-white dropdown-toggle" href="#customerSubmenu" data-toggle="collapse" aria-expanded="false">고객관리</a>
                   <ul class="collapse list-unstyled" id="customerSubmenu">
                       <li>
                           <a class="text-white" th:href="@{/admin/customer/management}">고객정보</a>
                       </li>
                   </ul>
               </li>
               <li class="active">
                   <a class="text-white dropdown-toggle" href="#orderSubmenu" data-toggle="collapse" aria-expanded="false">주문관리</a>
                   <ul class="collapse list-unstyled" id="orderSubmenu">
                       <li>
                           <a class="text-white" th:href="@{/admin/order/management}">주문목록</a>
                       </li>
                   </ul>
               </li>
               <li class="active">
                   <a class="text-white dropdown-toggle" href="#promotionSubmenu" data-toggle="collapse" aria-expanded="false">프로모션</a>
                   <ul class="collapse list-unstyled" id="promotionSubmenu">
                       <li>
                           <a class="text-white" th:href="@{/admin/promotion/eventlist}">이벤트관리</a>
                       </li>
                       <li>
                           <a class="text-white" th:href="@{/admin/promotion/eventdetail}">이벤트등록</a>
                       </li>
                   </ul>
               </li>
               <li class="active">
                   <a class="text-white dropdown-toggle" href="#statisticsSubmenu" data-toggle="collapse" aria-expanded="false">통계분석</a>
                   <ul class="collapse list-unstyled" id="statisticsSubmenu">
                       <li>
                           <a class="text-white" th:href="@{/admin/statistics/product}">상품분석</a>
                       </li>
                       <li>
                           <a class="text-white" th:href="@{/admin/statistics/sales}">매출분석</a>
                       </li>                       
                   </ul>
               </li>
               <li class="active">
                   <a class="text-white dropdown-toggle" href="#homeManageSubmenu" data-toggle="collapse" aria-expanded="false">홈화면관리</a>
                   <ul class="collapse list-unstyled" id="homeManageSubmenu">
                       <li>
                           <a class="text-white" th:href="@{/admin/uimanagement/home}">홈화면 순서 변경</a>
                       </li>                     
                   </ul>
               </li>                              
           </ul>
       </nav>
</div>