<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">
		<div class="m-2">
			<h4 class="mb-5"><b>이벤트관리</b></h4>
			<div>
				<form id="eventSearchForm" method="post" th:action="@{/admin/promotion/eventlist}">
					<div class="d-flex">
						<input type="hidden" id=pageNo name="pageNo" th:value="(${pager} != null)?${pager.pageNo}:'0'">
						<div class="col-6">
							<div class="d-flex mb-3">
								<h6 class="col-3 mb-0 align-self-center">이벤트기간</h6>
								<div class="input-group">
									<input type="date" name="eissuedate" id="eissuedate" class="form-control">
								</div>
								<h4 class="mx-2 mb-0 align-self-center">~</h4>
								<div class="input-group">
									<input type="date" name="eexpiredate" id="eexpiredate" class="form-control">
								</div>
							</div>
	
						</div>
						<div class="col-6">		
							<div class="d-flex mb-3">
								<div class="col-2 mb-0 align-self-center text-center">상태</div>
								<div class="mr-2" style="width: 15vw;">
									<select class="form-control" name="estatus" id="estatus">
										<option></option>
										<option value="1">진행중</option>
										<option value="0">마감</option>
									</select>
								</div>
								<div class="col-2 mb-0 align-self-center">정렬</div>
								<div class="mr-3" style="width: 15vw;">
									<select class="form-control" name="sort" id="sort">
										<option></option>
										<option value="eno">이벤트번호</option>
										<option value="eissuedate">이벤트시작일</option>
										<option value="eexpiredate">이벤트종료일</option>
										<option value="ecount">발행수</option>
									</select>
								</div>
							</div>			
						</div>
					</div>
					<div class="d-flex mb-3">
						<div class="col-1 ml-3 mr-4 mb-0 align-self-center">검색어</div>
						<div class="ml-3" style="width: 15vw;">
							<select class="form-control" name="esearchOption" id="esearchOption">
								<option></option>
								<option value="eno">번호</option>
								<option value="etitle">제목</option>
								<option value="econtent">내용</option>
							</select>
						</div>		
						<div class="col-8">
							<input class="form-control" type="text" name="esearchContent" id="esearchContent">
						</div>
					</div>
				</form>
				<div class="d-flex justify-content-center my-5">
					<button class="btn btn-dark col-2 mr-2 pr-4" onclick="searchEvent(1)"><img alt="" th:src="@{/images/search_negative.png}" style="width: 24px;"> 조회</button>
					<button class="btn btn-outline-dark col-2" onclick="resetInput()"><img alt="" th:src="@{/images/rotate.png}" style="width: 24px;"> 초기화</button>
				</div>
			</div>
		</div>
	<script>
		function resetInput() {
			const eissuedateId = document.getElementById("eissuedate")
			const eexpiredateId = document.getElementById("eexpiredate")
			const estatusId = document.getElementById("estatus")
			const sortId = document.getElementById("sort")
			const esearchOptionId = document.getElementById("esearchOption")
			const esearchContentId = document.getElementById("esearchContent")
			eissuedateId.value = ''
			eexpiredateId.value = ''
			estatusId.value = ''
			sortId.value = ''
			esearchOptionId.value = ''
			esearchContentId.value = '' 
		}
	</script>	
				<table class="table">
					<thead style="background-color: #f0f0f0;">
						<tr class="">
							<th class="text-center">번호</th>
							<th class="text-center">제목</th>
							<th class="text-center">시작일</th>
							<th class="text-center">종료일</th>
							<th class="text-center">발행수</th>
							<th class="text-center">한정수량</th>
							<th class="text-center">할인율</th>
							<th class="text-center">상태</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="event : ${eventList}">
							<td class="text-center"><a class="text-dark" th:href="@{eventdetail(eno=${event.eno})}">[[${event.eno}]]</a></td>
							<td class="text-center"><a class="text-dark" th:href="@{eventdetail(eno=${event.eno})}">[[${event.etitle}]]</a></td>
							<td class="text-center">[[${#dates.format(event.eissuedate, 'yyyy-MM-dd')}]]</td>
							<td class="text-center">[[${#dates.format(event.eexpiredate, 'yyyy-MM-dd')}]]</td>
							<td class="text-center">[[${event.ecount}]]</td>
							<td class="text-center">[[${event.elimitcount}]]</td>
							<td class="text-center">[[${event.ediscount}]]%</td>
							<th:block th:if="${event.estatus}==0">
								<td class="text-center">준비중/마감</td>
							</th:block>
							<th:block th:if="${event.estatus}==1">
								<td class="text-center">진행중</td>
							</th:block>
						</tr>
						
						<th:block th:if="${pager.totalRows>0}">	
							<tr>
								<td colspan="8" class="text-center">
									<div>
										<a th:onclick="'javascript:searchEvent(1);'" class="btn"><img alt="" th:src="@{/images/left-arrow.png}" style="opacity: 0.7;"></a>
										<a th:if="${pager.groupNo>1}" th:onclick="'javascript:searchEvent('+ ${pager.startPageNo-1} + ');'" class="btn">이전</a>
										
										<th:block th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
											<a class="btn btn-sm" th:classappend="(${pager.pageNo != i})?'btn':'btn-dark'" th:onclick="'javascript:searchEvent('+ ${i} + ');'">[[${i}]]</a>
										</th:block>
										
										<a th:if="${pager.groupNo<pager.totalGroupNo}" th:onclick="'javascript:searchEvent('+ ${pager.endPageNo+1} + ');'" class="btn">다음</a>
										<a th:onclick="'javascript:searchEvent('+ ${pager.totalPageNo} + ');'" class="btn"><img alt="" th:src="@{/images/right-arrow.png}" style="opacity: 0.7;"></a>
									</div>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>

<script th:inline="javascript">

	function searchEvent(pageNo){
		event.preventDefault();
		$("#pageNo").val(pageNo);
		$("#eventSearchForm").submit();
	}
	
</script>

</th:block>
</th:block>
</html>