<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">

<div class="m-2">
			<h4 class="mb-5"><b>주문목록</b></h4>
			<div>
				<form id="orderSearchForm" th:action="@{/admin/order/orderlist}" method="post">
				<div class="d-flex">
					<div class="col-6">
						<div class="d-flex mb-3">
							<input type="hidden" id=pageNo name="pageNo" th:value="(${pager} != null)?${filter.pageNo}:'1'">
							<h6 class="col-3 mb-0 align-self-center">주문일</h6>
							<div class="input-group">
								<input type="date" name="startdate" id="startdate" class="form-control" th:value="${filter.startdate}">
							</div>
							<h4 class="mx-2 mb-0 align-self-center">~</h4>
							<div class="input-group">
								<input type="date" name="enddate" id="enddate" class="form-control" th:value="${filter.enddate}">
							</div>
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">주문상태</h6>
							<select class="custom-select col-3 pr-1" name="ostatus" id="ostatus">
								<option th:selected="${filter.ostatus} == null" value="">전체</option>
							 	<option th:selected="${filter.ostatus} == 주문완료" value="주문완료">주문완료</option>							 	
							 	<option th:selected="${filter.ostatus} == 주문취소" value="주문취소">주문취소</option>
							 	<option th:selected="${filter.ostatus} == 취소완료" value="취소완료">취소완료</option>
							</select>							
							<h6 class="col-2 mb-0 align-self-center">주문자명</h6>
							<input class="form-control col-4" type="text" name="mname" id="mname" placeholder=" -" th:value="${filter.mname}">						
						</div>
					</div>
					<div class="col-6">		
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품코드</h6>
							<div class="input-group">
								<input type="text" class="form-control" name="psid" id="psid" placeholder=" -" th:value="${filter.psid}">
							</div>
						</div>	
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">휴대폰번호</h6>
							<input class="form-control col-9" type="text" name="ophone" id="ophone" placeholder=" -" th:value="${filter.ophone}">
						</div>
					</div>				
				</div>
				<div class="d-flex justify-content-center my-5">
					<button class="btn btn-dark col-2 mr-2 pr-4" type="submit"><img alt="" th:src="@{/images/search_negative.png}" style="width: 24px;"> 조회</button>
					<div class="btn btn-outline-dark col-2" onclick="resetInput()"><img alt="" th:src="@{/images/rotate.png}" style="width: 24px;"> 초기화</div>
				</div>				
				</form>

			</div>
		</div>
		<table class="table">
		<thead style="background-color: #f0f0f0;">
			<tr>
				<th class="text-center">주문번호</th>
				<th class="text-center">주문자명</th>
				<th class="text-center">연락처</th>
				<th class="text-center">주문금액</th>
				<th class="text-center">결제방법</th>
				<th class="text-center">주문상태</th>
				<th class="text-center">주문일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="order:${orderList}">
				<td class="text-center"><a class="text-dark" th:href="@{detail(oid=${order.oid})}">[[${order.oid}]]</a></td>
				<td class="text-center">[[${order.oreceiver}]]</td>
				<td class="text-center">[[${order.ophone}]]</td>
				<td class="text-center">[[${order.oafterprice}]]원</td>
				<td th:if="${order.pmcode == '0hyundai'}" class="text-center">신용카드</td>
				<td th:if="${order.pmcode == '1hyundai'}" class="text-center">계좌이체</td>
				<td th:if="${order.pmcode == '2hyundai'}" class="text-center">무통장입금</td>
				<td class="text-center">[[${order.ostatus}]]</td>
				<td class="text-center">[[${#dates.format(order.odate, 'yyyy.MM.dd')}]]</td>
			</tr>
			<th:block th:if="${pager} != null">	
			<th:block th:if="${pager.totalRows>0}">	
				<tr>
					<td colspan="8" class="text-center">
						<div>
							<a th:onclick="'javascript:changePageNo(1);'" class="btn"><img alt="" th:src="@{/images/left-arrow.png}" style="opacity: 0.7;"></a>
							<a th:if="${pager.groupNo>1}" th:onclick="'javascript:changePageNo('+ ${pager.startPageNo-1} + ');'" class="btn">이전</a>
							
							<th:block th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
								<a class="btn btn-sm" th:classappend="(${pager.pageNo != i})?'btn':'btn-dark'" th:onclick="'javascript:changePageNo('+ ${i} + ');'">[[${i}]]</a>
							</th:block>
							
							<a th:if="${pager.groupNo<pager.totalGroupNo}" th:onclick="'javascript:changePageNo('+ ${pager.endPageNo+1} + ');'" class="btn">다음</a>
							<a th:onclick="'javascript:changePageNo('+ ${pager.totalPageNo} + ');'" class="btn"><img alt="" th:src="@{/images/right-arrow.png}" style="opacity: 0.7;"></a>
						</div>
					</td>
				</tr>
			</th:block>
			</th:block>
		</tbody>
		
	</table>
<script th:inline="javascript">

	function changePageNo(pageNo){
		event.preventDefault();
		$("#pageNo").val(pageNo);
		$("#orderSearchForm").submit();
	}
	
	function resetInput() {
		const startdateId = document.getElementById("startdate")
		const enddateId = document.getElementById("enddate")
		const mnameId = document.getElementById("mname")
		const psidId = document.getElementById("psid")
		const ostatusId = document.getElementById("ostatus")
		const mphoneId = document.getElementById("mphone")
		startdateId.value = ''
		enddateId.value = ''
		mnameId.value = ''
		psidId.value = ''
		ostatusId.value = ''
		mphoneId.value = ''
	}	
		
</script>
</th:block>
</th:block>
</html>