<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div class="m-2">
			<h4 class="mb-5"><b>상품분류</b></h4>
			<div>
				<form action="" class="d-flex">
					<div class="col-6">
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">카테고리</h6>
							<select class="custom-select col-8 pr-1">
							 	<option selected>대분류</option>
							  	<option value="1">WOMEN</option>
							  	<option value="2">MEN</option>
							  	<option value="3">KIDS</option>
							  	<option value="4">LIFE STYLE</option>
							</select>
							<button class="btn btn-sm btn-dark ml-1">조회</button>
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">중분류</h6>
							<input class="form-control col-8" type="text">
							<button class="btn btn-sm btn-dark ml-1">추가</button>
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">소분류</h6>
							<input class="form-control col-8" type="text">
							<button class="btn btn-sm btn-dark ml-1">추가</button>
						</div>
					</div>
					<div class="col-6">
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">브랜드</h6>
							<select class="custom-select col-8 pr-1">
							 	<option selected>대분류</option>
							  	<option value="1">WOMEN</option>
							  	<option value="2">Two</option>
							  	<option value="3">Three</option>
							</select>
							<button class="btn btn-sm btn-dark ml-1">조회</button>
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">중분류</h6>
							<input class="form-control col-8" type="text">
							<button class="btn btn-sm btn-dark ml-1">추가</button>
						</div>						
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">소분류</h6>
							<input class="form-control col-8" type="text">
							<button class="btn btn-sm btn-dark ml-1">추가</button>
						</div>						
					</div>		
				</form>
				<div class="d-flex justify-content-center my-4">
					<button class="btn btn-dark col-2 mr-2 pr-4"><img alt="" th:src="@{/images/search_negative.png}" style="width: 24px;"> 조회</button>
					<button class="btn btn-outline-dark col-2"><img alt="" th:src="@{/images/rotate.png}" style="width: 24px;"> 초기화</button>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
			/* function getCategoryDepth2(depth1) {
				console.log(depth1)
				 $.ajax({
		            url: [[@{/admin/product/getcategorydepth2}]],
		            data: {
		                "depth1" : depth1
		            }
				}).done((data) => {
					 console.log(data);
		        });
			} */
		</script>
	</th:block>
</th:block>
</html>