<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<th:block th:replace="~{/common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<h2 class="mb-5"><b>상품 상세</b></h2>
		<hr/>
		<div class="m-2">
			<form id="productEnrollForm" th:action="@{/admin/product/modifiy}" method="post">
				<input type="hidden" name="productCommon" id="productCommon"></input>
				<!--/* 상품등록 부분 start */-->
				<h4 class="mb-5"><b>상품</b></h4>
				<div class="d-flex">
					<div class="col-6">
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품코드</h6>
							<input type="text" name="pid" id="pid" class="form-control col-6" th:value="${productCommon.pid}" readonly="readonly">
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품명</h6>
							<input type="text" name="pname" id="pname" class="form-control col-6" th:value="${productCommon.pname}">
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center" >브랜드(선택)</h6>
							<select id="bno" class="custom-select col-6">
								<option th:value="${b.bno}" th:each="b:${brand}" th:selected="${b.bno} == ${productCommon.bno}">[[${b.bname}]]</option>
							</select>
						</div>					
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">진열상태</h6>
							<div class="col-6 d-flex align-self-center">
								<div class="form-check mr-4">
								 	<input class="form-check-input" type="radio" name="pstatus" id="pstatusyes" value="1" checked>
								 	<label class="form-check-label" for="exampleRadios1">
										예
								  	</label>
								</div>
								<div class="form-check mr-4">
								  	<input class="form-check-input" type="radio" name="pstatus" id="pstatusno" value="0">
								  	<label class="form-check-label" for="exampleRadios2">
								    	아니오
								  	</label>
								</div>							
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품등록일</h6>
							<input type="date" name="pname" id="pname" class="form-control col-6" th:value="${#dates.format(productCommon.preleasedate, 'yyyy-MM-dd')}" readonly="readonly">
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0">상품설명</h6>
							<textarea style="height: 20vh;" class="form-control col-9" id="pnote">[[${productCommon.pnote}]]</textarea>
						</div>
					</div>
					<input class="form-check-input" type="hidden" name="preleasedate" id="preleasedate">
				</div>
				<!--/* 상품등록 부분 end */-->
				<hr/>
				<!--/* 색상/사이즈 추가 start */-->
				<h4 class="mb-5"><b>색상/사이즈 및 가격</b></h4>
				<div class="d-flex">
					<div class="col-6">
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품색상코드</h6>
							<select class="custom-select col-5" id="productColorSelect" onchange="autoInsertProductColorInfo()">
							 	<option selected>검색을 눌러주세요.</option>
							</select>
							<button onclick="getProductColorSize()" class="col-2 btn btn-dark"><img alt="" th:src="@{/images/search_negative.png}" style="width: 20px;"> 검색</button>
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">색상코드(입력)</h6>
							<input class="form-control col-3" type="text" name="pccolorcode" id="pccolorcode" placeholder="">
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품이미지1</h6>
							<input class="form-control col-9" type="text" name="pcimg1" id="pcimg1" placeholder="상품의 이미지를 넣어주세요.">
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품이미지2</h6>
							<input class="form-control col-9" type="text" name="pcimg2" id="pcimg2" placeholder="상품의 이미지를 넣어주세요.">
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품이미지3</h6>
							<input class="form-control col-9" type="text" name="pcimg3" id="pcimg3" placeholder="상품의 이미지를 넣어주세요.">
						</div>
					</div>
					<div class="col-6">

						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center text-center">칼라칩 이미지</h6>
							<input class="form-control col-9" type="text" name="pcchipimg" id="pcchipimg" placeholder="색상코드 이미지를 넣어주세요.">
						</div>
						<div class="d-flex mb-3 justify-content-center align-self-center">
							<h6 class="col-3 mb-0 align-self-center text-center">상품 가격</h6>
							<input class="form-control col-3" type="text" name="pcprice" id="pcprice" placeholder=""><span> 원</span>
						</div>
						<div class="d-flex mb-3 justify-content-center text-center">
							<button class="btn btn-outline-dark col-3" onclick="addsize()">사이즈추가</button>
							<button class="btn btn-outline-dark col-3" onclick="removesize()">사이즈삭제</button>
						</div>
						<div class="d-flex mb-3 row" id="productSizeContainer" >
							<div class="d-flex w-100 justify-content-center ">
								<h6 class="col-3 mb-0 align-self-center text-center">상품 사이즈</h6>
								<input class="form-control col-2 text-center" type="text" name="size" id="" placeholder="">
							</div>
						</div>
					</div>
				</div>
				<!--/* 색상/사이즈 추가 부분 end */-->
				
			</form>
			
			<!--/* 버튼 부분 */-->
			<div class="d-flex justify-content-center my-4">
				<button class="btn btn-dark col-2 mr-2 pr-4" onclick="enrollProduct()"><img alt="" th:src="@{/images/search_negative.png}" style="width: 24px;"> 수정하기</button>
				<button class="btn btn-outline-dark col-2"><img alt="" th:src="@{/images/rotate.png}" style="width: 24px;"> 초기화</button>
			</div>
		</div>
		
		
		<script th:inline="javascript">
			/* return된 productlist를 담아둘 변수 */
			var productList;
			/* return된 brandlist를 담아둘 변수 */
			var brandlist;
			/* return된 productcolorlist를 담아둘 변수 */
			var productcolorlist;
			
			
			 			
			/* load시 동작할 함수 */
			/* $(function(){
				getBrand();
			});  */
		
			
			/* 검색 value에 따른 product를 가져오는 메서드 */
			function getProduct() {
				event.preventDefault();
				let searchPidValue = $("#searchPidInput").val();
				$.ajax({
		            url: "http://kosa1.iptime.org:50515/admin/product/productlistbypname",
		            method:"post",
					data: JSON.stringify({"pname":searchPidValue}),
					contentType: "application/json; charset=UTF-8",
				}).done((resultData) => {
					productList = resultData;
					
					let insert = "<option value=''>검색완료</option>";
					let count = 0;
					for(let productCommon of resultData){
						insert += '<option value='+count+'>'+productCommon.pid+"-"+productCommon.pname+"</option>";
						count = count+1;
					}
					$("#searchPidResult").empty();
					$("#searchPidResult").append(insert);
		        }); 
				
			} 
			
			// 상품코드(선택) selectBox에서 선택시 나머지는 자동으로 들어가도록 하는 메서드
			function autoInsertProductInfo(){
				let product = productList[$("#searchPidResult").val()];
				$("#pid").val(product.pid);
				$("#pname").val(product.pname);
				$("#pnote").val(product.pnote);
				$("#preleasedate").val(product.preleasedate);
				$("#pstatusyes").attr('checked',false);
				$("#pstatusno").attr('checked',false);
				$("#depth1name").val(product.depth1name);
				$("#depth2name").val(product.depth2name);
				$("#depth3name").val(product.depth3name);
				if(product.pstatus === 1){
					$("#pstatusyes").attr('checked',true);
				} else {
					$("#pstatusno").attr('checked',true);
				}
				getBrand(product.bno);
			}
			
			//brand list를 가져오는 함수			
			function getBrand(brandno){
				$.ajax({
		            url: "http://kosa1.iptime.org:50515/admin/product/classification",
		            method:"get",
				}).done((resultData) => {
					brandlist = resultData.brand;
					let insert = "<option>선택</option>";
					for(let brand of resultData.brand){
						if(brand.bno === brandno){
							insert += '<option value='+brand.bno+' selected>'+brand.bname+"</option>";
						}else {
							insert += '<option value='+brand.bno+'>'+brand.bname+"</option>";
						}
					}
					$("#bno").empty();
					$("#bno").append(insert);
		        }); 
			}
			
			//상품의 기존 색상, 사이즈를 가져오기 위한 함수
			function getProductColorSize(){
				event.preventDefault();
				let pid = $("#pid").val();
				$.ajax({
		            url: "http://kosa1.iptime.org:50515/admin/product/"+pid,
		            method:"get",
				}).done((resultData) => {
					productcolorlist = resultData.productCommon.productcolor;
					let insert = "<option>선택</option>";
					for(let index in productcolorlist){
						insert += '<option value='+index+'>'+productcolorlist[index].pccolorcode+"</option>";		
					}
					$("#productColorSelect").empty();
					$("#productColorSelect").append(insert);
		        }); 
			}
			
			//product Color 정보 Auto Insert 함수
			function autoInsertProductColorInfo(){
				let productcolor = productcolorlist[$("#productColorSelect").val()];
				$("#pccolorcode").val(productcolor.pccolorcode);
				$("#pcimg1").val(productcolor.pcimg1);
				$("#pcimg2").val(productcolor.pcimg2);
				$("#pcimg3").val(productcolor.pcimg3);
				$("#pcchipimg").val(productcolor.pcchipimg);
				$("#pcprice").val(productcolor.pcprice);
				let insert = "";
				for(let productstock of productcolor.productstock){
					
					insert += '<div class="d-flex w-100 justify-content-center text-center">';
					insert += '<h6 class="col-3 mb-0 align-self-center text-center">상품 사이즈</h6>';
					insert += '<input class="form-control col-2 text-center" type="text" name="" id="size" value='+productstock.psize+' placeholder="">';
					insert += '</div>';
				}

				$("#productSizeContainer").empty();
				$("#productSizeContainer").append(insert);
				
			}
			
			function addsize(){
				event.preventDefault();
				let insert = "";
				insert += '<div class="d-flex w-100 justify-content-center text-center">';
				insert += '<h6 class="col-3 mb-0 align-self-center text-center">상품 사이즈</h6>';
				insert += '<input class="form-control col-2 text-center" type="text" name="" id="" placeholder="">';
				insert += '</div>';
				$("#productSizeContainer").append(insert);
			}
			
			function removesize(){
				event.preventDefault();
				$("#productSizeContainer div:last-child").remove();
			}
			
			function enrollProduct(){
				event.preventDefault();
				
				var productCommon = new Object();
				productCommon.pid=$("#pid").val();
				productCommon.pname=$("#pname").val();
				productCommon.pnote=$("#pnote").val();
				productCommon.bno=$("#bno").val();
				productCommon.pstatus=$("input[name=pstatus]:checked").val();
				productCommon.preleasedate=$("#preleasedate").val();
				productCommon.depth1name=$("#depth1name").val();
				productCommon.depth2name=$("#depth2name").val();
				productCommon.depth3name=$("#depth3name").val();
				
				var productColorList = new Array();
				productCommon.productcolor = productColorList;

				var productColor = new Object();
				productColor.pcid = $("#pid").val()+'_'+$("#pccolorcode").val();
				productColor.pcimg1 = $("#pcimg1").val();
				productColor.pcimg2 = $("#pcimg2").val();
				productColor.pcimg3 = $("#pcimg3").val();
				productColor.pcchipimg = $("#pcchipimg").val();
				productColor.pccolorcode = $("#pccolorcode").val();
				productColor.pcprice = $("#pcprice").val();
				productColorList.push(productColor);
				
				
				var productStock = new Array();
				productColor.productstock = productStock;
				let sizeArray = $("#productSizeContainer input");
				let sizeCount = sizeArray.length;
				
				for(var i =0; i< sizeCount; i++){
					var temp = new Object();
					temp.psid=productColor.pcid+'_'+sizeArray[i].value;
					temp.psize=sizeArray[i].value;
					temp.pcid=productColor.pcid;
					productStock.push(temp);
				}
				var jsonData = JSON.stringify(productCommon);
				$("#productCommon").val(jsonData);
				$("#productEnrollForm").submit();
				
			}
			
			function getCategoryDepth2() {
				$("#depth1name").val($("#depth1").val());
				$("#depth2name").val("중분류를 선택해주세요");
				$("#depth3name").val("소분류를 선택해주세요");
				const depth1 = $("#depth1").val();
 				 $.ajax({
		            url: "http://kosa1.iptime.org:50515/admin/product/getcategorydepth2",
		            data: {
		                "depth1" : depth1
		            }
				}).done((d2data) => {
					 var insert = '<option selected>중분류</option>'
					 for (let d2 of d2data.depth2) {
						 insert += '<option>' + d2 + '</option>'
					 }
					$("#depth2").empty();
					$("#depth2").append(insert);
					$("#depth3").empty();
					$("#depth3").append('<option>소분류</option>');
		        }); 
			}
			
			function getCategoryDepth3(){
				const depth1 = $("#depth1").val();
				const depth2 = $("#depth2").val();
				$("#depth2name").val($("#depth2").val());
				$.ajax({
			            url: "http://kosa1.iptime.org:50515/admin/product/getcategorydepth3",
			            data: {
			            	"depth1" : depth1,
			                "depth2" : depth2
			            }
				}).done((d3data) => {
						 console.log(d3data);
						 var insert = '<option selected>소분류</option>';
						 for (let d3 of d3data.depth3) {
							 insert += '<option>' + d3 + '</option>'
						 }
						$("#depth3").empty();
						$("#depth3").append(insert);				
			    }); 
			}
			
			function changeCategoryDepth3(){
				$("#depth3name").val($("#depth3").val());
			}
		</script>
		
		
		
		
	</th:block>
</th:block>
</html>