<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div class="m-2">
			<h4 class="mb-5"><b>상품목록</b></h4>
			<div>
				<form id="productSearchForm" th:action="@{/admin/product/productlist}" method="post" >
					<div class="d-flex">
					<div class="col-6">
						<div class="d-flex mb-3">
							<input type="hidden" id=pageNo name="pageNo" th:value="(${pager} != null)?${pager.pageNo}:'1'">
							<h6 class="col-3 mb-0 align-self-center">상품등록일</h6>
							<div class="input-group">
								<input type="date" name="startdate" id="startdate" class="form-control">
							</div>
							<h4 class="mx-2 mb-0 align-self-center">~</h4>
							<div class="input-group">
								<input type="date" name="enddate" id="enddate" class="form-control">
							</div>
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품이름</h6>
							<input class="form-control col-9" type="text" name="pname" id="pname" placeholder=" -">
						</div>
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품분류</h6>
							<select class="custom-select col-3 pr-1" name="depth1name" id="depth1" onchange="getCategoryDepth2()">
							 	<option selected value="">대분류</option>
							  	<option th:value="${d1}" th:each="d1:${depth1}" >[[${d1}]]</option>
							</select>
							<div id="depth2option" style="width: 15vw;"></div>
							<div id="depth3option" style="width: 15vw;"></div>
						</div>
					</div>
					<div class="col-6">		
						<div class="d-flex mb-3">
							<h6 class="col-3 mb-0 align-self-center">상품코드</h6>
							<div class="input-group">
								<input type="text" class="form-control" name="pid" id="pcode" placeholder=" -">
							</div>
						</div>
						<div class="d-flex mt-4 mb-4">
							<h6 class="col-3 mb-0 align-self-center">진열상태</h6>
							<div class="col-4 d-flex mb-0 align-self-center">
								<div class="form-check mr-4">
								 	<input class="form-check-input" style="" type="radio" name="displaystatus" id="displaystatus1" value="1" checked>
								 	<label class="form-check-label" for="displaystatus1">
										예
								  	</label>
								</div>
								<div class="form-check">
								  	<input class="form-check-input" type="radio" name="displaystatus" id="displaystatus2" value="0">
								  	<label class="form-check-label" for="displaystatus2">
								    	아니오
								  	</label>
								</div>							
							</div>							
						</div>				
						<div class="d-flex" style="margin-top: 30px;">
							<h6 class="col-3 mb-0 align-self-center">판매상태</h6>
							<div class="col-4 d-flex align-self-center">
								<div class="form-check mr-4">
								 	<input class="form-check-input" type="radio" name="salestatus" id="salestatus1" value="option1" checked>
								 	<label class="form-check-label" for="salestatus1">
										예
								  	</label>
								</div>
								<div class="form-check">
								  	<input class="form-check-input" type="radio" name="salestatus" id="salestatus2" value="option2">
								  	<label class="form-check-label" for="salestatus2">
								    	아니오
								  	</label>
								</div>							
							</div>							
						</div>				
					</div>					
					</div>

					<div class="d-flex justify-content-center my-4">
						<button class="btn btn-dark col-2 mr-2 pr-4" type="submit"><img alt="" th:src="@{/images/search_negative.png}" style="width: 24px;"> 조회</button>
						<button class="btn btn-outline-dark col-2" onclick="resetInput()"><img alt="" th:src="@{/images/rotate.png}" style="width: 24px;"> 초기화</button>
					</div>
				</form>
			</div>
		</div>
	<script>
		function resetInput() {
			const startdateId = document.getElementById("startdate")
			const enddateId = document.getElementById("enddate")
			const pcodeId = document.getElementById("pcode")
			const pnameId = document.getElementById("pname")
			const depth1nameId = document.getElementById("depth1name")
			const depth2nameId = document.getElementById("depth2name")
			const depth3nameId = document.getElementById("depth3name")
			const displaystatusId = document.getElementById("displaystatus1")
			const salestatusId = document.getElementById("salestatus1")
			startdateId.value = ''
			enddateId.value = ''
			pcodeId.value = ''
			pnameId.value = ''
 			depth1nameId.value = ''
			depth2nameId.value = ''
			depth3nameId.value = ''
			displaystatusId.checked = true
			salestatusId.checked = true 
		}
		function getCategoryDepth2() {
			const depth1Id = document.getElementById('depth1')
			const depth1Value = depth1Id.options[depth1Id.selectedIndex].text
				 $.ajax({
	            url: "http://kosa1.iptime.org:50515/admin/product/getcategorydepth2",
	            data: {
	                "depth1" : depth1Value
	            }
			}).done((d2data) => {
				 var insert = '';
				 insert += '<select class="custom-select" name="depth2name" id="depth2" onchange="getCategoryDepth3()"">'
				 insert += '<option selected>중분류</option>'
				 for (let d2 of d2data.depth2) {
					 insert += '<option>' + d2 + '</option>'
				 }
				 insert += '</select>'
				$("#depth2option").empty();
				$("#depth2option").append(insert);					
	        }); 
		} 	
		function getCategoryDepth3() {
			const depth1Id = document.getElementById('depth1')
			const depth1Value = depth1Id.options[depth1Id.selectedIndex].text				
			const depth2Id = document.getElementById('depth2')
			const depth2Value = depth2Id.options[depth2Id.selectedIndex].text
				 $.ajax({
	            url: "http://kosa1.iptime.org:50515/admin/product/getcategorydepth3",
	            data: {
	            	"depth1" : depth1Value,
	                "depth2" : depth2Value
	            }
			}).done((d3data) => {
				 var insert = '';
					 insert += '<select class="custom-select" name="depth3name" id="depth3name">'
				 insert += '<option selected>소분류</option>'
				 for (let d3 of d3data.depth3) {
					 insert += '<option>' + d3 + '</option>'
				 }
				 insert += '</select>'
				$("#depth3option").empty();
				$("#depth3option").append(insert);				
	        }); 
		} 		
	</script>
	<table class="table">
		<thead style="background-color: #f0f0f0;">
			<tr>
				<th class="text-center">상품ID</th>
				<th class="text-center">상품명</th>
				<th class="text-center">판매상태</th>
				<th class="text-center">상품등록일</th>
				<th class="text-center">수정</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product:${productList}">
				<td class="text-center">[[${product.pid}]]</td>
				<td class="text-center">[[${product.pname}]]</td>
				<td class="text-center">
					<th:block th:if="${product.pstatus} == 1">판매 중</th:block>
					<th:block th:if="${product.pstatus} != 1">판매 중지</th:block>
				</td>
				<td class="text-center">[[${#dates.format(product.preleasedate, 'yyyy.MM.dd')}]]</td>
				<td></td>
			</tr>
			<th:block th:if="${pager} != null">	
			<th:block th:if="${pager.totalRows>0}">	
				<tr>
					<td colspan="8" class="text-center">
						<div>
							<a th:onclick="'javascript:changePageNo(1);'" class="btn"><img alt="" th:src="@{/images/left-arrow.png}" style="opacity: 0.7;"></a>
							<a th:if="${pager.groupNo>1}" th:onclick="'javascript:changePageNo('+ ${pager.startPageNo-1} + ');'" class="btn">이전</a>
							
							<th:block th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
								<a class="btn btn-sm" th:classappend="(${pager.pageNo != i})?'btn':'btn-dark'" th:onclick="'javascript:changePageNo('+ ${i} + ');'">[[${i}]]</a>
							</th:block>
							
							<a th:if="${pager.groupNo<pager.totalGroupNo}" th:onclick="'javascript:changePageNo('+ ${pager.endPageNo+1} + ');'" class="btn">다음</a>
							<a th:onclick="'javascript:changePageNo('+ ${pager.totalPageNo} + ');'" class="btn"><img alt="" th:src="@{/images/right-arrow.png}" style="opacity: 0.7;"></a>
						</div>
					</td>
				</tr>
			</th:block>
			</th:block>
		</tbody>
		
	</table>
<script th:inline="javascript">

	function changePageNo(pageNo){
		event.preventDefault();
		$("#pageNo").val(pageNo);
		$("#productSearchForm").submit();
	}
		
</script>
	</th:block>
</th:block>
</html>