<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">

<article class="container-fluid">
	<div class="row">
		<div class="card col-4">
			<div class="card-body">
				주문건수 : 
			</div>
		</div>
		<div class="card col-4">
			<div class="card-body">
				금일매출 : 
			</div>
		</div>
		<div class="card col-4">
			<div class="card-body">
				취소건수 : 
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card col-12">
			<div class="card-body">
				이번달 매출 그래프 : [[${dailyTotalPrice}]]
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card col-12">
			<div class="card-body">
				월별 매출 그래프 : [[${monthlyTotalPrice}]] 
			</div>
		</div>
	</div>
</article>
</th:block>
</th:block>
</html>